.home {
  display: flex;
}
.home .homeContainer {
  flex: 7;
}
.home .widgets,
.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.home .charts {
  padding: 5px 20px;
}

.home .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.home .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

.home .dataContainer {
  display: flex;
}

.home .leftSide {
  width: 76%;
}

@media screen and (max-width: 1000px) {
  .home .charts {
    display: flex;
    flex-wrap: wrap;
  }
  .featured {
    padding: 5%;
  }
  .home .widgets {
    flex-direction: column;
  }

  .home .charts {
    display: flex;
    flex-wrap: wrap;
  }

  .lineBody,
  .DounutBody {
    width: 96%;
  }
  .home .leftSide {
    width: 65%;
  }
}

@media screen and (max-width: 700px) {
  .home .dataContainer {
    flex-direction: column;
  }

  .home .leftSide {
    width: 95%;
  }
  .profileRight {
    width: 86%;
    margin: 0 auto;
  }
  .meter {
    padding: 20px;
  }
  .CircularProgressbar {
    width: 30% !important;
  }
  .activity {
    padding: 20px 0;
  }
}
